<%= render 'shared/banner'%>

<div>
  <div class="d-flex row justify-content-around align-items-center">

    <div class="cards d-flex row col-8 flex-wrap" >
      <% @showtimes.each do |showtime| %>
        <%= link_to showtime_path(showtime) do %>
          <div class="card-category d-flex align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= IMG_ARRAY.sample %>')">
            <div class="d-inline-flex flex-grow-1">
              <div class="w-100 pl-3">
                <h4> <%= showtime.room %> </h4>
                <p>R$ <%= showtime.price %></p>
              </div>
              <div class="flex-shrink-1 align-item-end pr-3 pt-3">
                <p> <%= showtime.session_time.strftime("%d/%m") %> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-3 d-flex flex-wrap">
      <div class="card-category">
        <img class="rounded" src="/assets/pub_sessao.png" width="380" height="300" />
      </div>

      <div class="card-category">
        <img class="rounded" src="/assets/pub_limpeza.png" width="380" height="300" />
      </div>
    </div>

  </div>
</div>
