<div class="container">

  <h1 class="text-center m-5">Ticket</h1>
  <div class="d-flex justify-content-around align-items-center">

    <div class="movie-container">
        <%=image_tag @ticket.movie.poster_url, alt: @ticket.movie.title, class: 'movie-img rounded' %>
        <div class="title-container">
          <p><%= @movie.title.slice(0,27)+(@movie.title.length > 27 ? "..." : "") %></p>
        </div>
    </div>

    <div class="ticket-information">
      <h2><%= @ticket.showtime.room %></h3>
      <br>
      <br>
      <h3><%= @ticket.showtime.session_time %></h3>
      <br>
      <h3><%= "#{@ticket.number_people} convidados" %></h3>
      <br>
      <h3><%= "R$ #{@ticket.showtime.price}" %></h3>
    </div>

  </div>
  <div class="text-center">
    <%= link_to 'Voltar para os tickets', tickets_path, class:"btn btn-dark m-4" %>
  </div>
</div>
