<div class="container d-flex justify-content-center">
  <div class="w-50 justify-content-center p-5">
    <h2>Login</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: false,
                    placeholder: 'Email',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: false,
                    placeholder: 'Senha',
                    required: false,
                    input_html: { autocomplete: "senha atual" } %>
        <%= f.input :remember_me, label: 'lembrar de mim', as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "LOGIN" , class:'btn mb-2 btn-block' %>
      </div>
    <% end %>

    <%= link_to "Cadastre-se", new_password_path %>
  </div>
</div>