<p id="notice"><%= notice %></p>
<div class="container">

<h1>Sessões</h1>
<% @showtimes.each do |showtime| %>
    <%= link_to showtime_path(showtime) do %>
      <div class="card-category">
        <%= showtime.room %> <%= showtime.session_time %>
      </div>
    <% end %>
    <hr>
  <% end %>

<%= link_to 'Anuncie nova sessão', new_showtime_path(@showtime) %>

</div>