<div class="container">

  <h1 class="text-center m-5">Sessões</h1>

    <div class="d-flex flex-wrap row justify-content-around align-items-center" >
      <% @showtimes.each do |showtime| %>
        <%= link_to showtime_path(showtime) do %>
          <div class="card-category d-flex align-items-end mr-2 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= IMG_ARRAY.sample %>')">
            <div class="d-inline-flex flex-grow-1">
              <div class="w-100 pl-3">
                <h4> <%= showtime.room %> </h4>
                <p>R$ <%= showtime.price %></p>
              </div>
              <div class="flex-shrink-1 align-item-end pr-3 pt-3">
                <p> <%= showtime.session_time.strftime("%d/%m") %> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <div class="text-center m-5">
    <%= link_to 'Anuncie nova sessão', new_showtime_path(@showtime), class:"btn btn-dark" %>
  </div>
</div>
