<p id="notice"><%= notice %></p>
<div class="container">

<h3>Sessão Nome do filme</h3>

<ul>
<% @showtimes.each do |showtime|  %>
<li><%= @showtime.session_time %><li>
<li><%= @showtime.room %><li>
<li><%= @showtime.price %><li>
<li><%= @showtime.session_time %><li>
<% end %>

<%= link_to 'Add new showtime', new_showtime_path(@showtime) %>